@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Resets */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Navbar start */
#nav {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    z-index: 10;
}

.menu {
    display: flex;
    height: 100%;
    width: 450px;
    justify-content: center;
    align-items: center;
    background-color: #78716ccc;
    border-radius: 5rem;
}

.container-links {
    display: flex;
}

.links {
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.4rem;
    transition: all 0.2s;
}

.links a {
    position: relative;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    color: white;
    transition: 100ms;
}


.links a::before {
    position: absolute;
    content: '';
    background-color: transparent; 
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 200px;
    transition: background-color 200ms; 
}


.links a:hover::before {
    background-color: aliceblue; 
}



.drop {
    position: relative;
    padding: 0.4rem;
}

.dropdown-menu {
    background-color: #374151; 
    border-radius: 0.5rem; 
}

.dropdown-item {
    color: white; 
}

.dropdown-item:hover {
    background-color: rgb(231, 227, 222); 
    color: black; 
}

/* Navbar end */

/* Home start */

#home {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}

.apresentation {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-apresentation {
    width: 70%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-apresentation h1 {
    font-size: 36px;
}

.container-apresentation p {
    font-size: 20px;
    text-align: justify;
}

.myself {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    display: flex;
    
}

.photo img{
    width: 400px;
    border: 3px solid #78716c;
}

#typed-output {
    font-size: 2rem; 
    white-space: nowrap; 
}

/* Home end */

/* project start */

    #project {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-project {
        height: 80%; 
        width: 80%; 
        background-color: #78716ca8; 
        overflow-y: auto; 
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
        padding: 10px; 
    }

    /* Estilizando a barra de rolagem */


    .title-project h2 {
        font-family: "Montserrat";
        font-size: 48px;
        font-weight: bolder;
    }

    .project {
        position: relative; 
        overflow: hidden; 
        height: 200px; 
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        transition: transform 0.2s; 
    }
    
    .project-image {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
    
    .project:hover {
        transform: scale(1.05); 
    }
    
    .project-info {
        position: absolute; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        background-color: rgba(0, 0, 0, 0.7); 
        color: white; 
        padding: 10px; 
        text-align: center; 
        transform: translateY(100%); 
        transition: transform 0.3s; 
    }
    
    .project:hover .project-info {
        transform: translateY(0); 
    }

/* project end */

/* skills start */

#skills {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-title {
    margin-bottom: 4rem;
}

.skills-title h2 {
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: bolder;
}

.container-skills {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: start;
}

.icon-skill {
    text-align: center;
}

.icon-skill svg{
    height: 80px;
    width: 80px;
}

.icon-skill {
    font-family: "Montserrat";
    font-weight: bolder;
}

/* skills end */

/* contact start */

#contact {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-contact h2 {
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: bolder;
}

.form-contact {
    
}

/* contact end */
